@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #34282C;
    font-family: 'Barlow', sans-serif;
}



svg {
    background-color: #848B79;
    border: 4px solid black;
    color: black;
}

h1 {
    color: white;
}

.bar {
    fill: red;
}

.bar:hover {
    fill: white;
}

#tooltip {
    color: white;
    font-size: 20px;
}